.avivList {
  .add {
    padding: 1em;

    button {
      border-color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  table {
    color: #ffffff !important;

    button {
      border-color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
